body {
    /*font-family: 'Arimo', sans-serif;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    align-items: center;
    background-color: var(--body-color);
    box-sizing: border-box;
}


  a:hover {
    color: rgb(9, 61, 120);
    opacity: 0.8;
  }
  p {
    color: black;
    font-size: 1.25em;
    padding: 0 20px;
  }
  p:active {
    color: rgb(9, 61, 120);
    font-size: 1.25em;
  }
  p:hover {
    font-size: 1.25em;
  }
  h1 {
    font-size: 2.2em;
    font-weight: 700;
    text-align: center;
  }
  h2 {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
  }
/*---- NAV -----------------------------------------------------------------------------*/
nav, main, header{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    /* box-shadow: 1 1px 2px rgb(0, 0, 0, 0.2); */
}
nav .navbar {
    display: flex;
    max-width: 1500px;
    height: 100%;
    margin: auto ;
    align-items: center;
    justify-content: space-between;

    padding: 0 3rem;
}
nav .navbar > h1{
    margin: auto;
}

/* CORPO -----------------------------------------------------------------------------*/

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
main {
    width: 80%;
    height: 100%;
    max-width: 1500px;
    margin: 6rem auto 8rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}
  
section {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;

  }
  
  section    a  > img {
    width: 100%;
    max-width: 25rem;
    min-height: 250px;
    display: block;
    margin: 0 auto 20px ;
  }
  section > a {
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.4s;
  }
/*  FOOTER----------------------------------------------------------------------------*/
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: rgb(248, 243, 240);
}
.footer {
    margin: auto;
    width: 100%;
    color: rgb(19, 0, 50);
    /* padding: 2rem 3rem; */
}
.cor{
    background-color: #ede9e4;
}
.footer-link {
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    padding: 5rem 4rem;
}
.footer-lista {
    display: flex;
    width: 45rem;
}
.footer-lista>ul {
    list-style: none;
    width: 100%;
}
ul {
    list-style: none;
}
.footer-link ul>li {
    padding: 6px 0;
    color: rgb(19, 0, 50);
    width: 100%;
}
.footer-link ul li>b {
    font-size: 18px;
    letter-spacing: 0.1rem;
}
.footer-link ul li>a {
    display: block;
    color: rgb(19, 0, 50);
}
.footer-link ul li>a:hover {
    color: rgb(19, 0, 50);
    text-decoration: underline solid rgb(19, 0, 50);
    text-underline-offset: 0.4em;
}
.footer-redes {
    float: right;
    position: relative;
}
.footer-redes>ul {
    list-style: none;
    display: flex;
}
.footer-redes ul>li {
    margin: 0.5rem;
}
.footer-redes ul li>a {
    display: block;
    color: rgb(19, 0, 50);
}
.footer-redes ul li a>img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 1;
}
.footer-redes ul li a>img:hover {
    opacity: 0.6;
}
.fotter-fotter {
    margin: auto;
    /* width: 100%; */
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    /* flex: 1 1 0%;
    padding-top: 16px; */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem 4rem;
    
}
.footer-barra {
    padding: 0 0 24px 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.fotter-termos {
    display: flex;
    flex: 2 1 0%;
}
.fotter-termos h5:not(:last-child) {
    margin-right: 16px;
}
.fotter-termos h5>a {
    color: rgb(19, 0, 50);
    text-decoration: none;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
}
.fotter-termos h5 a:hover {
    color:var(--color);
    padding: 6px 8px;
    border-radius: 5px;
}
.fotter-redes {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex: 1 1 0%;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
}
.fotter-redes li:not(:last-child) {
    margin-right: 8px;
}
.fotter-redes li {
    float: left;
}
.fotter-redes a {
    transition: all 0.5s ease 0s;
    opacity: 0.6;
}
.fotter-redes a:hover {
    opacity: 1;
}
.fotter-redes svg path {
    fill: rgb(19, 0, 50);
}
.footer-cep {
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 12px;
}
